<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Magellan :: Search</title>
    <link href="{{STATIC_URL}}magellan.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_query').first().focus();
        });
    </script>
  </head>
  <body>
    <div id="search_container" class="logo_bg">
        <div id="search_ui">
        {% include "search_form.html" %}
        </div> <!-- search_ui -->
    </div> <!-- search_container -->
    
    {% include "search_footer.html" %}
  </body>
</html>